**/__pycache__/
**/*.pyc
**/*.pyo
**/.ipynb_checkpoints/
ColabFold/*
DMS_AF2/
DMS_assays/processed_data/
DMS_assays/raw_data/
DMS_EVE_models/
EVCouplings/envs/pg2_evc/
EVCouplings/input/fasta/
EVCouplings/input/RBL2_RHORT_Prywes_2025/
envs/
pdbs/*
PR/.cache/
PR/logs/
PR/ProteinGym/
PR/proteingym_v1.3*
model_envs/
models/
model_scores/
ProteinGym/
proteingym-processing/
scoring_scripts/scoring*/


EVCouplings/output/A0A972RTS6_9BACT_Lazar_2025/
EVCouplings/output/Beltran_Lehner_2025/beltran_domains_jackhmmer_3round_Jun22_file.csv
EVCouplings/output/Beltran_Lehner_2025/beltran_domains_jackhmmer_4round_Jul17_file.csv
EVCouplings/output/Beltran_Lehner_2025/beltran_domains_jackhmmer_5round_Jul21_file.csv
EVCouplings/output/Beltran_Lehner_2025/bitscore0.5_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore0.6_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore0.7_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore0.8_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore0.95_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore0.9_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.05_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.1_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.2_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.3_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.4_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.5_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.6_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.7_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1.8_a2m/
EVCouplings/output/Beltran_Lehner_2025/bitscore1_a2m/
EVCouplings/output/Beltran_Lehner_2025/domainome_with_ranges.csv
EVCouplings/output/Beltran_Lehner_2025/evc_test/
EVCouplings/output/Beltran_Lehner_2025/evcouplings_scores.csv
EVCouplings/output/Beltran_Lehner_2025/mappings/
EVCouplings/output/Beltran_Lehner_2025/selected_alignments/
EVCouplings/output/Beltran_Lehner_2025/selected_models/
EVCouplings/output/Beltran_Lehner_2025/uniref100/
EVCouplings/output/Beltran_Lehner_2025/weights/
EVCouplings/output/RBL2_RHORT/
EVCouplings/output/RBL2_RHORT_Prywes_2025/
EVCouplings/output/SPIKE_SARS/
EVCouplings/output/_config.txt
EVCouplings/output/_job_database.txt
EVCouplings/output/_stderr.log
EVCouplings/output/_stdout.log
EVCouplings/scripts/NORA_STAAU_Miller_2025/
EVCouplings/scripts/RBL2_RHORT_Prywes_2025/
EVCouplings/scripts/gmon.out
EVCouplings/scripts/run_evcouplings_sam.sh
EVCouplings/slurm/
PR/PoET-2_clinical_indel_scripts/logs/
PR/PoET-2_clinical_sub_scripts/logs/
scoring_scripts/scoring_bash_scripts.zip
scoring_scripts/test/GEMME_scripts/
scoring_scripts/test/TranceptEVE_aggregation_coefficients_log
scoring_scripts/test/s3f_dataset/
scoring_scripts/test/slurm/
scoring_scripts/test/pg_baselines/__pycache__/
EVCouplings/output/Beltran_Lehner_2025/all_EVmutation/
EVCouplings/output/Beltran_Lehner_2025/all_models/

DMS_assays/notebooks_assays/Untitled.ipynb
DMS_assays/notebooks_assays/Untitled2.ipynb
EVCouplings/output/PG1/Tranception_PG1_models/
EVCouplings/output/PG1/Tranception_PG1_models_all_EVmutation/
EVCouplings/output/PG1/all_EVmutation/
EVCouplings/scripts/PG1/*.err
EVCouplings/scripts/PG1/*.log