**/__pycache__/
**/*.pyc
**/*.pyo
**/.ipynb_checkpoints/
ColabFold/*
DMS_AF2/
DMS_assays/processed_data/
DMS_assays/raw_data/
DMS_EVE_models/
EVCouplings/envs/pg2_evc/
EVCouplings/input/fasta/
EVCouplings/input/RBL2_RHORT_Prywes_2025/
envs/
pdbs/*
PR/.cache/
PR/logs/
PR/ProteinGym/
PR/proteingym_v1.3*
model_envs/
models/
model_scores/
ProteinGym/
proteingym-processing/
scoring_scripts/scoring*/